header {
    height: 100dvh;

    display: grid;
    place-items: center;

    background-image:
    linear-gradient(transparent 95%, var(--color-blue-dark) 100%),
    radial-gradient(var(--color-blue-light), var(--color-blue-dark));
}
header > section {
    width: 60%;
}
header > section p {
    font-family: var(--header-paragraph);
    color: var(--color-paragraph);
}
header > section p:first-child {
    font-size: 2rem;
}
header > section > #title {
    line-height: 1;
    color: #fff;
    font-family: var(--header-title);
    text-transform: uppercase;
}
header > section > #title > .full-stack {
    position: relative;
    font-size: 7rem;
}
header > section > #title > .dev {
    font-size: 9rem;
}
header > section > #title > .full-stack > .icons {
    position: absolute;

    top: var(--size-y);
    left: var(--size-x);
    transform: translateY(var(--size-y));
}
header > section > #title > .full-stack > .icons > ul {
    list-style: none;

    display: flex;
    gap: 10px;
}
header > section > #title > .full-stack > .icons > ul li > a {
    display: block;
    height: var(--size);
    width: var(--size);

    opacity: 25%;

    transition: opacity .2s ease;
}
header > section > #title > .full-stack > .icons > ul li > a:hover {
    opacity: 1;
}
header > section > #title > .full-stack > .icons > ul li > a#instagram {
    background: transparent var(--logo-instagram) no-repeat center center;
}
header > section > #title > .full-stack > .icons > ul li > a#linkedin {
    background: transparent var(--logo-linkedin) no-repeat center center;
}
header > section > #title > .full-stack > .icons > ul li > a#github {
    background: transparent var(--logo-github) no-repeat center center;
}
header > section > #title > .full-stack > .icons > ul li > a#curriculum {
    background: transparent var(--icon-curriculum) no-repeat center center;
}
header > section > #title > .full-stack > .icons > ul li > a#instagram,
header > section > #title > .full-stack > .icons > ul li > a#linkedin,
header > section > #title > .full-stack > .icons > ul li > a#github,
header > section > #title > .full-stack > .icons > ul li > a#curriculum {
    background-size: var(--size) var(--size);
}
header > section p:last-child {
    font-size: 1.2rem;
    margin-top: 15px;
    text-align: end;
}

main {
    display: grid;
    place-items: start center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 40px;

    padding: 100px 20px 20px;

    background: linear-gradient(var(--color-blue-dark), var(--color-blue-light));
}
main section {
    width: 75%;
}
main section article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main section article h1 {
    font-family: var(--section-title);
    font-size: 1.4rem;

    text-align: center;

    color: #092130;
}
main section article h1 > a {
    display: block;
    text-decoration: none;
    color: #0f3953;
}
main section article h1 > a:hover {
    text-decoration: underline;
}
main section article p {
    font-family: var(--section-paragraph);
    font-size: 1.1rem;

    text-align: center;

    color: #d0edff;
}
main section {
    position: relative;
}
main section article {
    margin-top: 10px;
}
main section > picture > .demo-pc {
    width: 100%;
}
main section > picture > .demo-mobile {
    position: absolute;

    height: 65%;

    top: 10%;
    left: -12%;
}