:root {
    /* sizes */
    --size-x: 100%;
    --size-y: 35%;
    --size: 30px;

    /* fonts */
    /* header */
    --header-title: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --header-paragraph: Arial, Helvetica, sans-serif;

    /* section */
    --section-title: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --section-paragraph: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* logos social medias */
    /* by Freepik */
    --logo-instagram: url("../imgs/logos-icons/logo-instagram.png");
    /* by Google */
    --logo-linkedin: url("../imgs/logos-icons/logo-linkedin.png");
    /* by Pixel perfect */
    --logo-github: url("../imgs/logos-icons/logo-github.png");
    /* by Freepik */
    --icon-curriculum: url("../imgs/logos-icons/icon-curriculum.png");

    /* colors */
    /* gradient */
    --color-blue-dark: #084d7a;
    --color-blue-light: #1f9ef3;
    /* paragraph */
    --color-paragraph: #001e31
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    background-color: #5abdff;
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    background-color: #004777;
}