header > section {
    width: 90%;
}
header > section p:first-child {
    font-size: 2rem;
}
header > section > #title > .full-stack {
    font-size: 6rem;
}
header > section > #title > .dev {
    font-size: 8rem;
}

main {
    grid-template-columns: 1fr;

    padding: 10px 10px 40px;
}
main section {
    width: 100%;
}
main section > picture {
    display: grid;
    place-items: center;
}
main section > picture > .demo-pc {
    width: 70%;
}
main section > picture > .demo-mobile {
    height: 55%;
    top: 15%;
    left: 10%;
}
main section article {
    width: 100%;
}
main section article h1 {
    font-size: 2rem;
}
main section article p {
    font-size: 2rem;
}